<!-- <nav class="navbar">
    <div class="logo">Combat Coach</div>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/profile/">Profile</a>

        {% if profile.role == "Athlete" %}
            <a href="/dashboard/">Dashboard</a>
            <a href="/recommend/">Matchmaking</a>
            <a href="/injury/">Report Injury</a>
            <a href="/availability/">Availability</a>
        {% endif %}

        {% if profile.role == "Coach" %}
            <a href="/coach-dashboard/">Coach Dashboard</a>
            <a href="/coach-injuries/">Injuries</a>
        {% endif %}

        <a href="/logout/">Logout</a>
    </div>
</nav> -->